.modal {
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__button-close {
    position: absolute;
    height: 40px;
    top: 90px;
    right: 100px;
}

.modal__image {
    width: 400px;
    transition: 1s;
}

.modal__image:hover {
    width: 500px;
    transition: 1s;
}